# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
/frankenphp/frankenphp

# Test & coverage artifacts
*.test
*.out
coverage.html

# Dependency directories
vendor/

# IDE / editor
.idea/
.vscode/

# OS
.DS_Store

# Local environment
.env
